# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- Identify key data science tools
- Explain basic data manipulation techniques
- Discuss best practices for data visualization
- Understand fundamental concepts of machine learning

Some of the popular languages that Data Scientists use are
1. Python
2. R Language
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

In [17]:
import pandas as pd

In [25]:
data = {
    "Data Science Tools": [
        "Jupyter Notebook",
        "R Studio",
        "Apache Zeppelin"]
}

In [27]:
df = pd.DataFrame(data)
df

  Data Science Tools
0   Jupyter Notebook
1           R Studio
2    Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
(3*4)+5
##  This a simple arithmetic expression to mutiply then add integers

17

In [35]:
##This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [37]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

[Irfan Ali]